/* Error: Only 3 arguments allowed, but 4 were passed.
 *     ,
 * 1   | @mixin letras ($font, $color, $size){
 *     |        ============================= declaration
 * ... |
 * 8   |     @include letras("Smooch Sans", sans-serif,black,90px)
 *     |     ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ invocation
 *     '
 *   scss\base\__mixin.scss 8:5  letras()
 *   scss\base\__mixin.scss 8:5  @import
 *   scss\style.scss 2:9         root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Only 3 arguments allowed, but 4 were passed.\a     \2577 \a 1   \2502  @mixin letras ($font, $color, $size){\d\a     \2502         \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  declaration\a... \2502 \a 8   \2502      @include letras("Smooch Sans", sans-serif,black,90px)\d\a     \2502      ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ invocation\a     \2575 \a   scss\\base\\__mixin.scss 8:5  letras()\a   scss\\base\\__mixin.scss 8:5  @import\a   scss\\style.scss 2:9         root stylesheet';
}
